<div class="is-view cp-about" ng-class="{loaded:true}" ng-init="codePressApp.viewClassName = 'home-about'">
  <h1 class="cp-about__title">codepress.io</h1>
  <h2 class="cp-about__subtitle">the Open Source code generator</h2>

  <div class="cp-about__coded cp-about__buttons">
    <md-button class="md-mini md-raised" href="#/codepress/licence" aria-label="Licence">Licence</md-button>
    <md-button class="md-mini md-raised" href="http://github.com/ceceppa/codepress" aria-label="Github" target="_blank">Github</md-button>
  </div>

  <div class="cp-about__coded">
    <ng-md-icon icon="code"></ng-md-icon> with <ng-md-icon icon="heart"></ng-md-icon> by <a href="http://alessandrosenese.eu">Alessandro Senese</a>
  </div>
</div>
