<md-toolbar md-scroll-shrink="" class="md-whiteframe-1dp ng-scope cp-header">
	<div class="md-toolbar-tools" layout="column">
		<h1 class="cp-header__title md-headline" flex>Welcome to codepress.io</h1>
		<h2 class="cp-header__subtitle md-headline" flex>the open source code generator</h2>
	</div>
</md-toolbar>

<div class="is-view cp-home md-padding" ng-class="{loaded:true}">
  <div layout="row" class="cp-home__buttons layout-wrap" layout-align="center">
    <md-button flex-gt-md="20" class="cp-home__buttons__button" href="#/codepress/getting-started">
      <ng-md-icon icon="school" class="cp-home__buttons__button__icon" size="54"></ng-md-icon>
      <span class="cp-home__buttons__button__title">Getting started</span>
    </md-button>
    <md-button flex-gt-md="20" flex-gt-sm="50" class="cp-home__buttons__button" href="#/generators">
      <ng-md-icon icon="code" class="cp-home__buttons__button__icon" size="54"></ng-md-icon>
      <span class="cp-home__buttons__button__title">Generators</span>
    </md-button>
    <md-button flex-gt-md="20" flex-gt-sm="50" class="cp-home__buttons__button" href="#/codepress/addons">
      <ng-md-icon icon="settings_input_hdmi" class="cp-home__buttons__button__icon" size="54"></ng-md-icon>
      <span class="cp-home__buttons__button__title">Addons</span>
    </md-button>
		<md-button flex-gt-md="20" flex-gt-sm="50" class="cp-home__buttons__button" href="#/codepress/documentation">
      <ng-md-icon icon="my_library_books" class="cp-home__buttons__button__icon" size="54"></ng-md-icon>
      <span class="cp-home__buttons__button__title">Documentation</span>
    </md-button>
    <md-button flex-gt-md="20" flex-gt-sm="50" class="cp-home__buttons__button" href="#/codepress/contributing-to-codepress">
      <ng-md-icon icon="build" class="cp-home__buttons__button__icon" size="54"></ng-md-icon>
      <span class="cp-home__buttons__button__title">Contribute</span>
    </md-button>
    <md-button flex-gt-md="20" flex-gt-sm="50" class="cp-home__buttons__button" href="#/codepress/bugs-and-features">
      <ng-md-icon icon="bug_report" class="cp-home__buttons__button__icon" size="54"></ng-md-icon>
      <span class="cp-home__buttons__button__title">Bugs &amp; Features</span>
    </md-button>
    <md-button flex-gt-md="20" flex-gt-sm="50" class="cp-home__buttons__button" href="blog">
      <ng-md-icon icon="message" class="cp-home__buttons__button__icon" size="54"></ng-md-icon>
      <span class="cp-home__buttons__button__title">Blog</span>
    </md-button>
    <md-button flex-gt-md="20" flex-gt-sm="50" class="cp-home__buttons__button" href="#/codepress/about">
      <ng-md-icon icon="info" class="cp-home__buttons__button__icon" size="54"></ng-md-icon>
      <span class="cp-home__buttons__button__title">About codepress</span>
    </md-button>
  </div>
</div>
