<div class="is-view cp-home md-padding doc-content" ng-class="{loaded:true}">
  <h2 class="md-headline">Create your own generator</h2>
  <p>
    codepress.io is based on WordPress, so to start:

    <ul>
      <li>download and configure <a href="https://wordpress.org/">WordPress</a> on your machine.</li>
      <li>download and install the <a href="http://v2.wp-api.org/">WP REST API</a> plugin.</li>
      <li>download, install and active the codepress.io theme</li>
    </ul>

    we're almost done, you choose between the following boilerplates:

    <ul>
      <li><a href="">dynamic form</a> - contains the basic code to generate dynamic forms.</li>
      <li><a href="">basic</a> - contain the basic code to make the addon work, you can customise the full interface and routes.</li>
    </ul>

    <i>For further visit the boilerplates github page.</i>
  </p>

  <h2 class="md-headline bg__padding--top">Documentation</h2>
  <p>
    Don't forget to have a look to the <a href="#/documentation">documentation</a>.
  </p>

  <h2 class="md-headline bg__padding--top">Publish your own generator</h2>
  <p>
    Do you want to publish your generator on codepress.io? <br>
    Cool, just fill up the form and wait for the approval.
    <br><br>
    <strong>Your generator have to he hosted on github, otherwise the request will be automatically denied.</strong>
  </p>
</div>
